header {
background: #6495ED;
front-size:35px;
}
body {
1a{
background-color: #FFE4E1;
}
1b{
background-color: #F5F5F5;
}
#img1{
height: 50px
width:  50px
}
1c{
background-color: #F0FFF0;
}
1d{
background-color: #F5F5DC;
}
#img2{
height: 50px
width:  50px
}
2a{
background-color: #F5F5DC;
}
2b{
background-color: #F0FFF0;
}
#img3{
height: 50px
width:  50px
}
2c{
background-color: #F5F5F5;
}
2d{
background-color: #FFE4E1;
}
#img4{
height: 50px
width:  50px
}
3a{
background-color: #F5F5F5;
}
3b{
background-color: #F0FFF0;
}
##img5{
height: 50px
width:  50px
}
3c{
background-color: #FFE4E1;
}
3d{
background-color: #F5F5DC;
}
#img6{
height: 50px
width:  50px
}
4a{
background-color: #FFE4E1;
}
4b{
background-color: #F5F5F5;
}
#img7{
height: 50px
width:  50px
}
4c{
background-color: #F0FFF0;
}
4d{
background-color: #F5F5DC;
}
#img8{ 
height: 50px
width:  50px
}
footer{
background: #6495ED;
front-size:35px;
}
